ACTIVE_FRAME_TYPE=PORTRAIT_STRIP
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_key

# Khi chạy Docker, máy in nên được share từ máy host và điền đường dẫn mạng
# Ví dụ: PRINTER_NAME=\\host.docker.internal\Ten_May_In
PRINTER_NAME=Microsoft Print to PDF

# Đường dẫn này đã được cấu hình mặc định trong Dockerfile
IRFANVIEW_PATH=C:\Program Files\IrfanView\i_view64.exe
